<div class="component-box">
    <h3>My Videos</h3>

    @foreach (var item in Videos)
    {
        <div class="box-card" @onclick="() => SelectVideo.InvokeAsync(item)">
            <div class="row">
                <div class="col-4">
                    <iframe style="width:100%" height="150"
                            src="@item.Url"
                            frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-8">
                    <h4>@item.Title</h4>
                </div>
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<YoutubeComponentsApp.Models.VideoDetails> Videos { get; set; }

    [Parameter]
    public EventCallback<YoutubeComponentsApp.Models.VideoDetails> SelectVideo { get; set; }
}
